.app {
  height: 100vh;
  font-family: arial;
  font-size: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app section {
  min-width: 400px;
}

.bars > div{
  margin-bottom: 16px;
}

.controlls {
  display: flex;
  flex-wrap: wrap;
}
.controlls button {
  width: 48px;
  height: 48px;
  border: solid 1px;
  flex-grow: 1;
  margin-right: 8px;
  background: #2c3e50;
  color: #fff;
  font-size: inherit;
}

.controlls button:last-child {
  margin-right: 0;
}

.controlls select {
  width: 64px;
  height: 48px;
  flex: 1 0 100%;
  margin-bottom: 8px;
  border: solid 1px;
  font-size: inherit;
}

@media  (max-device-width : 768px) {
  .app section {
    width: 80%;
  }
}
